{
  "branches": ["release/pro"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "message": "chore: release ${nextRelease.version} [skip ci]"
      }
    ],
    [
      "semantic-release-weapp",
      {
        "type": "miniProgram",
        "privateKeyPath": "the/path/to/privatekey",
        "ignores": [
            "node_modules/**/*"
        ],
        "setting": {
          "es6": true
        }
    }
    ],
    [
      "semantic-release-feishu2",
      {
        "semverFilter": ["major", "minor", "patch"],
        "failureMessage": true
      }
    ]
  ]
}