{
  "branches": ["release/pro"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "message": "chore: release ${nextRelease.version} [skip ci]"
      }
    ],
    [
      "semantic-release-feishu2",
      {
        "platforms": ["brew", "npm"],
        "semverFilter": ["major", "minor", "patch"],
        "failureMessage": true
      }
    ]
  ]
}